name: CI

on: [push]

defaults:
  run:
    working-directory: a

jobs:
  security:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
# Security Check using tfsec
    - name: Terraform security scan
      uses: tfsec/tfsec-sarif-action@v0.0.3
      with:
        working_directory: a
        sarif_file: tfsec.sarif         
        github_token: ${{ secrets.GITHUB_TOKEN }}
